.card{
    border-radius: 10px;
    padding: 10px;
    border: 3px solid rgb(251, 94, 178);
}
.card h4{
    margin: 10px 0;
    color: rgb(49, 49, 49);
    font-size: 20px;
}
.card p{
   margin: 5px 0;
}